<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Tourist Spots</title>
<link rel="stylesheet" href="tourist-spots.component.css">
  </head>
  <body>
<div class="pimg1">
  <div class="ptext">
    <span class="border">
      Tourist spots 
    </span>
  </div>
</div>

<section class="section section-light">
<h2>Section One</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border">
      Tourist spots 
    </span>
  </div>
</div>

<section class="section section-dark">
<h2>Section two</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border">
      Tourist spots 
    </span>
  </div>
</div>

<section class="section section-dark">
<h2>Section two</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg1">
  <div class="ptext">
    <span class="border">
      Tourist spots 
    </span>
  </div>
</div>

</body>
</html>